<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.buy2best"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>App Huzefa</name>

    <description>
        First App with all option 
    </description>

 <author href="http://instagram.com/buy2bestcom" email="huzek53@gmail.com">
    Huzefa Tunkiwala
  </author>

</widget>






